{{ define "main" }}
<!-- Main -->
 <!--  
<header>
 <h1>{{ .Title }}</h1> 
</header>
now in logo line -->
  {{ range .Data.Pages }}
  <div class="12u$">
    <a href="{{ .Permalink }}">
      <h3>{{ .Title }}: {{ .Description }} ({{ .Date.Format "2006" }})</h2>
    {{ if .Params.cover }}
      {{ with .Resources.GetMatch (.Params.cover) }}
        {{ $scaled := ( .Fit "250x250 smart Lanzcos" ) }}
      <img class="left image" src="{{ $scaled.RelPermalink }}" alt="{{ .Title }}" />
      {{ end }}
  {{ end }}
  <!--    <p> {{ .Date.Format "January, 2006" }} </p> -->
    </a>
    <div>
      {{ .Summary }}

      <p class="align-right"><a href='{{ .Permalink }}'><nobr>{{ .Site.Data.i18n.morelink }} →</nobr></a></p>

    </div>
  </div>
  <hr />
  {{ end }}
{{ end }}


