{{- define "main" -}} <!-- vim: set ts=4 sw=4 expandtab --> <!-- Todo: Masthead caption style not there yet --> <!-- Main -->
    <h1>{{ .Title }}: {{ .Description }} ({{ .PublishDate.Format "2006" }})</h1>
    <div class="row">
        <div class="8u">
            {{ .Summary }}
        </div>
        <div class="4u">
            <div class="infofig">

                {{- with $.Param "resources.intro" -}}
                    {{- $src := $.Param "resources.intro" -}}
                    {{- with $.Page.Resources.GetMatch ($src) -}}
                        {{- $scaled := . -}}
                        {{- if not (in ($.Param "resources.intro_options") "raw") -}}
                            {{- $scaled = (.Fit "500x500 smart Lanzcos") -}}
                        {{- end -}}
                        {{- $width := 0 -}}
                        {{- range $.Param "resources.intro_options" -}}
                            {{- if reflect.IsMap . -}}
                                {{- with .width -}}
                                    {{- $width = . -}}
                                {{- end -}}
                            {{- end -}}
                        {{- end -}}

                        <figure itemprop="associatedMedia" itemscope
                            itemtype="http://schema.org/ImageObject"
                            {{- if $width -}}style="max-width: {{- $width | default "200px" -}}"{{- end -}}
                        >
                            <img
                                itemprop="thumbnail"
                                src="{{ $scaled.RelPermalink }}"
                                alt='{{ $.Param "resources.intro_caption" }}'
                            />
                            <a href="{{ . }}" itemprop="contentUrl"></a>
                            {{- with $.Param "resources.intro_caption" -}}
                            <figcaption>
                                <p>{{- . -}}</p>
                            </figcaption>
                            {{- end }}
                        </figure>
                    {{- end -}}
                {{- end -}}
            </div>
            <!-- <div class="float-clear"></div> -->
            <div class="infobox">
                <h3>Topics</h3>
                <ul>
                    {{- range $.Param "resources.topics" -}}
                    <li>{{ . }}</li>
                    {{- end -}}
                </ul>
                <h3>Methods</h3>
                <ul>
                    {{- range $.Param "resources.skills" -}}
                    <li>{{ . }}</li>
                    {{- end -}}
                </ul>
            </div>
        </div>
        <div class="12u">
            {{ .ContentWithoutSummary }}
        </div>
    </div>
{{ end }}
